#body {
	margin: 0;
	padding: 0;
} 
#header {
	background-color: #c3c3c3;
	text-align: left;
	}

/* Создание меню в header */
.supermenu {
	position: absolute;
	z-index: 100;
	top: 90px;
	left: 100px;
}
.menu {
	height: 19px;
	background: #c3c3c3;
	text-align: center;
	fond-weight: bold;
	color: #9e4fac;
	float:left;
	overflow: hidden;
}

#menu1 	{
	width: 70px;	
}

#menu2 	{
	width: 100px;
}
#menu3 	{
	width: 80px;
}

#menu4 	{
	width: 115px;
}
#menu5 	{
	width: 120px;
}

#menu6 	{
	width: 70px;
}
#menu2:hover {
		width: 200px;
		height: 80px;
		cursor: default;
		text-align: left;
}

#menu3:hover {
		width: 210px;
		height: 40px;
		cursor: default;
		text-align: left;
}

#menu4:hover {
		width: 210px;
		height: 40px;
		cursor: default;
		text-align: left;
}

.menu a {
	padding-left: 5px;
	display: block;
	color: #9e4fac;
	text-decoration: none;
}
.menu a:visited {
		color: #9e4fac;
}
.menu a:hover {
		color: #0000ff;
		background: #ffffff;
}
.menu a:active {
		color: #9e4fac;
}

/* Конец создания меню в header */ 



#footer {
	clear: both;
	background-color: #c3c3c3;
	text-align: center;
	color: #0000ff;
}
